/* ==========================================
   PAPPRITO ERP
========================================== */

:root{

    --sidebar-width:270px;

    --primary:#C8102E;
    --yellow:#FFC72C;
    --bg:#EEF2F7;

}

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,
body{

    width:100%;
    height:100%;

    font-family:"Segoe UI",sans-serif;

    background:var(--bg);

    overflow-x:hidden;

}

#app{

    display:flex;

    width:100%;

    min-height:100vh;

}

/* ==========================
   SIDEBAR
========================== */

#sidebar{

    width:var(--sidebar-width);

    flex-shrink:0;

}

/* ==========================
   MAIN
========================== */

.main-wrapper{

    width:calc(100% - var(--sidebar-width));

    min-height:100vh;

    display:flex;

    flex-direction:column;

    background:#EEF2F7;

}

/* ==========================
   CONTENT
========================== */

#content{

    flex:1;

    padding:25px;

}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:992px){

#sidebar{

    position:fixed;

    left:-270px;

    top:0;

    z-index:999;

    transition:.30s;

}

#sidebar.show{

    left:0;

}

.main-wrapper{

    width:100%;

}

}
